/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

table {
  width: 100%;
  display: table;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  background-color: #2b3137;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: #2b3137;
  padding: 48px;
}

.heroInner {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 20px;
}

.heroProjectTitle {
  color: #fff;
  font-size: 60px;
  margin: 0;
}

.heroProjectTagline {
  color: #fff;
  font-size: 32px;
  margin: 0;
}

.heroTextHtml b {
  color: var(--ifm-color-primary);
}

.shieldsContainer {
  text-align: center;
}

.shields {
  margin: 0rem 0.25rem;
}

@keyframes jack-in-the-box {
  0% {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.heroLogo {
  animation-duration: 2s;
  animation-name: jack-in-the-box;
  float: right;
  margin-top: 20px;
  padding: 0 20px 20px;
  height: auto;
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
}

.indexCtas a,
.indexCtas a:hover {
  color: black;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  margin: 0.5rem;
  overflow: hidden;
}

.centerButtonContainer {
  display: flex;
  justify-content: center;
}

.downloadButton {
  margin: 20px;
  height: 56px;
  width: 200px;
  font-size: 24px;
}

.additionalButton {
  margin: 20px;
  height: 44px;
  width: 200px;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heroInner {
    padding: 0;
  }

  .heroProjectTitle {
    font-size: 36px;
    text-align: center;
  }

  .heroProjectTagline {
    font-size: 24px;
    text-align: center;
  }

  .heroLogo {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtas a {
    margin: 20px 36px;
  }

  .indexCtasGitHubButton {
    display: none;
  }

  .centerButtonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
