<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<?define ProductVersion="0.0.0" ?>

	<Package Name="NETworkManager 20$(var.ProductVersion).0"
			 Manufacturer="BornToBeRoot"
			 Version="$(var.ProductVersion)"
			 UpgradeCode="e343d8ab-ed71-41d1-9784-6f6860bda078">
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

		<!-- Include CAB file in MSI -->
		<MediaTemplate EmbedCab="true" />

		<!-- Icon -->
		<Icon Id="icon.ico"  SourceFile="$(var.NETworkManager.ProjectDir)NETworkManager.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<!-- UI -->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Resources\LICENSE.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)Resources\WixUIBanner.png" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Resources\WixUIDialog.png" />
		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />		

		<!-- Features -->
		<Feature Id="Main" Title="NETworkManager">
			<ComponentGroupRef Id="Components" />
		</Feature>
		
		<!-- Uninstall InnoSetup version -->	
		<!-- Get-Item "HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall\{8028080F-B785-4A74-A243-3D63467880A6}_is1" -ErrorAction SilentlyContinue | ForEach-Object {Start-Process -FilePath $($_.GetValue("UninstallString")) -ArgumentList "/VERYSILENT /SUPPRESSMSGBOXES /NORESTART" -Wait} -->
		<CustomAction Id="UninstallInnoSetup" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="yes" ExeCommand="PowerShell.exe -NoProfile -WindowStyle Hidden -EncodedCommand &quot;RwBlAHQALQBJAHQAZQBtACAAIgBIAEsATABNADoAXABTAE8ARgBUAFcAQQBSAEUAXABNAGkAYwByAG8AcwBvAGYAdABcAFcAaQBuAGQAbwB3AHMAXABDAHUAcgByAGUAbgB0AFYAZQByAHMAaQBvAG4AXABVAG4AaQBuAHMAdABhAGwAbABcAHsAOAAwADIAOAAwADgAMABGAC0AQgA3ADgANQAtADQAQQA3ADQALQBBADIANAAzAC0AMwBEADYAMwA0ADYANwA4ADgAMABBADYAfQBfAGkAcwAxACIAIAAtAEUAcgByAG8AcgBBAGMAdABpAG8AbgAgAFMAaQBsAGUAbgB0AGwAeQBDAG8AbgB0AGkAbgB1AGUAIAB8ACAARgBvAHIARQBhAGMAaAAtAE8AYgBqAGUAYwB0ACAAewBTAHQAYQByAHQALQBQAHIAbwBjAGUAcwBzACAALQBGAGkAbABlAFAAYQB0AGgAIAAkACgAJABfAC4ARwBlAHQAVgBhAGwAdQBlACgAIgBVAG4AaQBuAHMAdABhAGwAbABTAHQAcgBpAG4AZwAiACkAKQAgAC0AQQByAGcAdQBtAGUAbgB0AEwAaQBzAHQAIAAiAC8AVgBFAFIAWQBTAEkATABFAE4AVAAgAC8AUwBVAFAAUABSAEUAUwBTAE0AUwBHAEIATwBYAEUAUwAgAC8ATgBPAFIARQBTAFQAQQBSAFQAIgAgAC0AVwBhAGkAdAB9AA==&quot;" Return="check" />
		
		<InstallExecuteSequence>
			<Custom Action="UninstallInnoSetup" After="InstallInitialize" />
		</InstallExecuteSequence>
	</Package>

</Wix>
