<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NETworkManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NETworkManager.Properties.Settings>
            <setting name="Appearance_Accent" serializeAs="String">
                <value />
            </setting>
            <setting name="Appearance_AppTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="Localization_CultureCode" serializeAs="String">
                <value />
            </setting>
            <setting name="Settings_Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Window_MinimizeToTrayInsteadOfTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Window_MinimizeInsteadOfTerminating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autostart_StartMinimizedInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrayIcon_AlwaysShowIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_DefaultApplicationViewName" serializeAs="String">
                <value>NetworkInterface</value>
            </setting>
            <setting name="Window_StartMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ping_ResolveHostnamePreferIPv4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ping_Buffer" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Ping_WaitTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Ping_Timeout" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="NetworkInterface_SelectedInterfaceID" serializeAs="String">
                <value />
            </setting>
            <setting name="Window_PinApplicationList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IPScanner_ConcurrentThreads" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="IPScanner_Timeout" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="IPScanner_Buffer" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="IPScanner_Attempts" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IPScanner_ResolveHostname" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IPScanner_ResolveMACAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DeveloperMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Traceroute_Buffer" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="Traceroute_Timeout" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="Traceroute_MaximumHops" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Traceroute_ResolveHostnamePreferIPv4" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ping_Attempts" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Window_ConfirmClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKey_ShowWindowKey" serializeAs="String">
                <value>79</value>
            </setting>
            <setting name="HotKey_ShowWindowModifier" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HotKey_ShowWindowEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </NETworkManager.Properties.Settings>
    </userSettings>
</configuration>