<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net46" />
</packages>