<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.1.66" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.6.0-alpha013" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="1.9.0" targetFramework="net46" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net46" />
</packages>