@import "./color_schemes/dark";

$body-background-color: #252525;
$sidebar-color: #00686a;
$border-color: #606060;

$body-heading-color: #ffffff;
$body-text-color: #e6e6e6;
$nav-child-link-color: #e6e6e6;
$search-result-preview-color: #222222;

$link-color: #00abbd;
$btn-primary-color: #00abbd;
$base-button-color: #454545;

$code-background-color: #2d333b;
$search-background-color: #2d333b;
$table-background-color: #2d333b;

$feedback-color: darken($sidebar-color, 3%);
$content-width: 950px;
