@import "./color_schemes/dark";

$body-background-color: #131516;
$sidebar-color: #26292b;
$border-color: #26292b;

$body-heading-color: #c0bab2;
$body-text-color: #c0bab2;
$nav-child-link-color: #c0bab2;
$search-result-preview-color: #c0bab2;

$link-color: #00abbd;
$btn-primary-color: #00abbd;
$base-button-color: #26292b;

$code-background-color: #26292b;
$search-background-color: #26292b;
$table-background-color: #26292b;

$feedback-color: darken($sidebar-color, 3%);
$content-width: 1200px;
