$body-background-color: #22272e;
$sidebar-color: #2d333b;
$border-color: $grey-dk-250;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: #00abbd;
$search-result-preview-color: #22272e;

$link-color: #007bff;
$btn-primary-color: #007bff;
$base-button-color: $grey-dk-250;

$code-background-color: #2d333b;
$search-background-color: #2d333b;
$table-background-color: #2d333b;
$feedback-color: darken($sidebar-color, 3%);
