<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="https://borntoberoot.github.io/NETworkManager/"><img height="96px" width="96px" src="https://raw.githubusercontent.com/BornToBeRoot/NETworkManager/gh-pages/NETworkManager.svg?sanitize=true" ></a>

      <p>
        <a class="github-button" href="https://github.com/BornToBeRoot/NETworkManager" data-size="large" data-show-count="true" aria-label="Star NETworkManager on GitHub">Star</a>
        <a class="github-button" href="https://github.com/BornToBeRoot/NETworkManager/fork" data-size="large" data-show-count="true" aria-label="Fork NETworkManager on GitHub">Fork</a>
        <a class="github-button" href="https://github.com/BornToBeRoot/NETworkManager/subscription" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch NETworkManager on GitHub">Watch</a>
        <a class="github-button" href="https://github.com/BornToBeRoot" data-size="large" data-show-count="true" aria-label="Follow @BornToBeRoot on GitHub">Follow @BornToBeRoot</a>
      </p>
        
      <h1 class="project-name">{{ site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.path | replace: "/README.md", "" | replace: "README.md", "" | replace: "/", " > " | replace: ".md", ""}}</h2> 
      
      <a href="{{ site.github.repository_url }}" class="btn">:octocat: View on GitHub</a>
      <a href="{{ '/Changelog.html#version-202010' | prepend: site.baseurl }}" class="btn">:page_facing_up: Changelog</a>
      <a href="{{ '/Documentation/#documentation' | prepend: site.baseurl }}" class="btn">:book: Documentation</a>
      <a href="{{ '#download' | prepend: site.baseurl }}" class="btn">:package: Download</a>

      <p>
          <a href="https://github.com/BornToBeroot/NETworkManager/releases" target="_blank">
            <img alt="All releases" src="https://img.shields.io/github/downloads/BornToBeroot/NETworkManager/total.svg?style=flat-square" />
          </a>
          <a href="https://ci.appveyor.com/project/BornToBeRoot/NETworkManager/branch/master">
            <img alt="AppVeyor" src="https://img.shields.io/appveyor/ci/BornToBeRoot/NETworkManager/master.svg?style=flat-square&&label=master" />
          </a>   
        <br />
          <a href="https://transifex.com/BornToBeRoot/NETworkManager/">
            <img alt="Transifex" src="https://img.shields.io/badge/transifex-translate-green.svg?style=flat-square" />
          </a>   
          <a href="https://github.com/BornToBeRoot/NETworkManager/issues/new?labels=Feature-Request&template=Feature_request.md">
              <img alt="Transifex" src="https://img.shields.io/badge/github-feature_request-green.svg?style=flat-square" />
          </a>   
          <a href="https://github.com/BornToBeRoot/NETworkManager/issues/new?labels=Issue&template=Bug_report.md">
              <img alt="Transifex" src="https://img.shields.io/badge/github-bug_report-red.svg?style=flat-square" />
          </a>  
        <br /> 
          <a href="https://twitter.com/intent/tweet?text=NETworkManager%20-%20A%20powerful%20tool%20for%20managing%20networks%20and%20troubleshoot network problems!&url=https%3A%2F%2Fgithub.com%2FBornToBeRoot%2FNETworkManager&hashtags=networkmanager,ipscanner,portscanner,ssh,vnc,remotedesktop,dns,traceroute,pingmonitor" target="_blank">
            <img alt="Transifex" src="https://img.shields.io/badge/twitter-tweet-blue.svg?style=flat-square" />     
          </a>   
      </p>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <a href="{{ prepend: site.baseurl }}" class="btn">:house: Back to home page</a>

          <!--
          {% if site.github.is_project_page %}
            <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          {% endif %}
    
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.        
          -->
        </span> 
      </footer>
    </main>
    
    <script async defer src="https://buttons.github.io/buttons.js"></script>


  </body>
</html>